body {
  background-color: whitesmoke;
  margin: auto;
  max-width: 1500px;
}

header {
  background-color: whitesmoke;
  font-family: Spectral;
  max-width: 1500px;
  margin: 0 auto;
  
}

.header-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  padding: 30px;
  height: 180px;
  
}

.log {
  grid-column: 1 / span 1;
}

.logo img {
  height: 250px;
}

.nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 90px;
}


.nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.contact {
  grid-column: 3 / span 1;
  display: flex;
  align-items: center;
}

.contact img {
  height: 30px;
  margin-right: 20px;
  
  
  
}

.contact p {
  margin: 0;
  font-size: 20px;
  margin-left: 40px;
  
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto 1fr;
  grid-gap: 10px; /* adjust to your desired spacing */
}

.full-width-image {
  grid-column: 1 / span 3;
  width: 100%;
  height: 400px;
  position: relative; /* add a position property to the image */
  margin-right: 90px;
}

.text-container {
  position: absolute;
  grid-column: 3 / span 3;
  bottom: 0; /* position the container at the bottom of its containing block */
  right: 0;
  z-index: 1;
  padding: 20px;
  color: black;
  font-size: 40px;
  font-family: 'Dancing Script', cursive;
  color: #258694;
  margin-bottom: 200px;
  margin-right: 50px;
}



.bottom-text {
  text-align: center;
  font-size: 24px;
  font-family: Spectral;
  font-weight: bolder;
}

@media screen and (min-width: 768px) {
  .text-container {
    grid-column: 3 / 4;
    
  }
}

