header {
  background-color: whitesmoke;
  font-family: Spectral;
  max-width: 1500px;
}

.header-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  padding: 30px;
  height: 180px;
  
}

.grid-item {
  text-align: center;
}

.logo img {
  text-align: center;
  height: 240px;
  margin-bottom: 25px;
  margin-top: 5px;
  margin-left: 35px;
}

.nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 90px;
}


.nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.contact img {
  max-height: 30px;
  margin-right: 0px;
  
  
}

.contact p {
  font-size: 20px;
  margin: 30px;
  
  
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto 1fr;
  grid-gap: 10px; /* adjust to your desired spacing */
}

.full-width-image {
  grid-column: 1 / span 3;
  width: 100%;
  height: 400px;
}

.text-container {
  position: absolute; /* set the position property to absolute */
  grid-column: 1 / span 3;
  bottom: 0; /* position the container at the bottom */
  left: 600px; /* position the container at the left */
  right: 0; /* position the container at the right */
  z-index: 1; /* set the z-index to a value greater than the image */
  padding: 20px; /* add some padding to the container */
  color: black; /* set the text color to white to make it visible on the image */
  font-size: 40px;
  font-family: 'Dancing Script', cursive;
  color: #258694;
  margin-bottom: 170px;
}